[Unit]
Description=DogWatch daemon
Wants=network-online.target
After=network-online.target ssh.service

[Service]
Type=simple
ExecStart=/opt/dogwatch/dogwatch.sh daemon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

